<footer class="footer">
  <small>
  </small>

  <nav>
<ul class="nav nav-pills">
      <li role="presentation" ><%= link_to "Home", root_path %></li>
      <li role="presentation" ><%= link_to "AboutUs",static_pages_about_path %></li>
      <li role="presentation" ><%= link_to "ContactUs",   static_pages_everything_path %></li>
      <li role="presentation" ><%= link_to "SiteMap",   static_pages_sitemap_path %></li>
      <li role="presentation" ><%= link_to "Disclaimer",   static_pages_disclaimer_path %></li>


      <li role="presentation"><%= link_to "Facebook", "https://www.facebook.com/webghzyt" %></li>
      <li role="presentation"><%= link_to "Twitter", "https://twitter.com/" %></li>
      <li role="presentation"><%= link_to "Linkedin", "https://in.linkedin.com/" %></li>
      <li role="presentation"><%= link_to "Gmail", "#" %></li>
      <li role="presentation"><%= link_to "Yahoo", "#" %></li>
      <li role="presentation"><%= link_to "YouTUbe", "https://in.youtube.com/" %></li>



    </ul>
  </nav>

</footer>


  
